.card {
  width: 200px;
  height: 231px;

  position: relative;
  transform-origin: center;

  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #2f4f4f;

  padding: 10px 10px 16px;


  transition: background-color 0s ease,
  transform 1s ease; 

  &:hover {
    
    transform: scale(1.2);
    background-color: #EEEEEE;
    border-radius: 12px;

  }

  &__image {
    position: relative;
    margin-bottom: 8px;
  }

  &__image-image {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    object-fit: cover;
    object-position: center;
    display: block;
    z-index: 0;
  }

  &__details-name {
      display: block;
      font-weight: 700;
      font-size: 20px;
      margin-bottom: 8px;
  }

  &__image-rank {
    position: absolute;
    top: 84px;
    right: 10px;
    width: 32px;
    height: 32px;
    margin-bottom: 9px;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
   
    border-radius: 100%;
    background-color: #ffffff;
    color: #8B0000;
  }

  &__extra {
    opacity: 0;
    color: #000000;
    font-weight: 400px;
    font-size: 18x;
    font-family: Arial;
    letter-spacing: 0%;
    text-align: center;
    background-color: #EEEEEE;
    border-radius: 12px;
    z-index: 2;
  }

  &:hover .card__extra {
      opacity: 1;
    }
}

